@import '../../helpers/tokens';

.hero-box {
	font-size: 48px;
	margin-top: 130px;
    padding-bottom: 5%;
    border-bottom: 1px solid;
}

span {
	border-bottom: 5px solid $green;
}

.photo-box {
    position: absolute;
    right: 170px;
    top: 0;
	z-index: -1;
	img {
		height: 800px;
	}
}

.description {
    
    padding: 40px 0;
    font-size: 18px ;
    font-weight: medium;
    width: min(100% - 40%);
    p {
        font-size: 18px;
        color: $light-grey;
        font-weight: 500;
        line-height: 28px
    }
}

.description__contact__paragraf {
    display: inline-block;
    margin-top: 80px;
    border-bottom: 3px solid $green;
    padding-bottom: 10px;
    a {
        text-decoration: none;
        color: $white;
        font-size: 16px;
        letter-spacing: 2.28571px;
        
    }
}
