@import '../../helpers/tokens';


.hero-box {
	max-width: 1000px;
	font-size: 48px;
	margin-top: 90px;
	padding-bottom: 5%;
	h2 {
		font-size: 48px;
	}
	span {
		border-bottom: 5px solid $green;
	}
}

.photo-box {
	
	position: absolute;
	right: 170px;
	top: 0;
	z-index: -1;
	.web-img {
		height: 700px;
	}
	.mob-img {
		display: none;
	}
}

.description {
	padding: 40px 0;
	font-size: 18px;
	font-weight: medium;
	width: 600px;
	p {
		font-size: 18px;
		color: $light-grey;
		font-weight: 500;
		line-height: 28px;
	}
}

.description__contact__paragraf {
	display: inline-block;
	margin-top: 80px;
	border-bottom: 3px solid $green;
	padding-bottom: 10px;
	&:last-child {
		margin-left: 60px;
	}
	button {
		border: 0;
		background: none;
		text-decoration: none;
		color: $white;
		font-size: 16px;
		letter-spacing: 2px;
		transition: color 0.3s;
		cursor: pointer;
		&:hover {
			color: $green;
		}
		a {
			text-decoration: none;
			color: $white;
			transition: 0.3s;
			&:hover {
				color: $green;
			}
		}
	}
}

i {
	margin-left: 10px;
}
@media all and (max-width: 1000px) {
	.photo-box {
	
		position: absolute;
		right: 20px;
		top: 0;
		z-index: -1;
		.web-img {
			height: 700px;
		}
		.mob-img {
			display: none;
		}
	}
	.description {
		padding: 40px 0;
		font-size: 18px;
		font-weight: medium;
		width: 500px;
		p {
			font-size: 18px;
			color: $light-grey;
			font-weight: 500;
			line-height: 28px;
		}
	}
	.description__contact {
		display: inline;
		margin: 0;
	}
	.description__contact__paragraf {
		
	margin-top: 80px;
	border-bottom: 3px solid $green;
	padding-bottom: 10px;
	
	&:last-child {
		margin-left: 20px;
	}
		
		
		button {
			border: 0;
			background: none;
			text-decoration: none;
			color: $white;
			font-size: 16px;
			letter-spacing: 2px;
			transition: color 0.3s;
			
			
			cursor: pointer;
			&:hover {
				color: $green;
			}
			a {
				text-decoration: none;
				color: $white;
				transition: 0.3s;
				&:hover {
					color: $green;
				}
			}
		}
}
}
@media all and (max-width: 500px), (max-height: 390px) {
	.hero-box {
		display: flex;
		margin: 0;
		align-items: center;
		flex-direction: column;
		text-align: center;
		h2 {
			font-size: 38px;
		}
		span {
			border-bottom: 5px solid $green;
		}
	}
	
	.photo-box {
		position:unset;
		height: 100%;
		display: flex;
		justify-content: center;
		
		.web-img {
			display: none;
		}
		.mob-img {
			display: flex;
			margin: 25px 0;
			height: 250px;
		}
	}
	
	.description {
		padding: 40px 0;
		width: 100%;
		
		text-align: center;
		p {
			font-size: 14px;
			color: $light-grey;
			font-weight: 400;
			line-height: 24px;
			margin-right: 0;
		}
	}
	.description__contact {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}
	.description__contact__paragraf {
		
	margin-top: 80px;
	border-bottom: 3px solid $green;
	padding-bottom: 10px;
	
	&:last-child {
		margin-left: 0px;
	}
		
		
		button {
			border: 0;
			background: none;
			text-decoration: none;
			color: $white;
			font-size: 16px;
			letter-spacing: 2px;
			transition: color 0.3s;
			
			
			cursor: pointer;
			&:hover {
				color: $green;
			}
			a {
				text-decoration: none;
				color: $white;
				transition: 0.3s;
				&:hover {
					color: $green;
				}
			}
		}
	}
	
	
}

