@import './helpers/_tokens.scss';

* {
	font-family: 'Space Grotesk';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(to right bottom, #000000, #0f0c0f, #16151a, #191d24, #1a262c);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: $white;
	margin: 3rem 10rem;
	
}

.footer {
	margin-top: 40px;
	border-top: 1px solid white;
	padding-top: 30px;
	position: relative;
	bottom: 0;
}
