@import './helpers/_tokens.scss';

* {
	font-family: 'Space Grotesk';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, red);
    background: -moz-linear-gradient( to left top, blue, red);
    background: -ms-linear-gradient( to left top, blue, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient( to left top, blue, red);
	background: rgb(0, 0, 0);
	
	color: $white;
	margin: 39px 165px;
	
}

.footer {
	margin-top: 40px;
	border-top: 1px solid white;
	padding-top: 30px;
	position: relative;
	bottom: 0;
}
