@import './helpers/_tokens.scss';

* {
  font-family: "Space Grotesk";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/images/peakpx.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 39px 165px;
  background-repeat: no-repeat;
  height: 100%;
  
}

.footer {
  margin-top: 40px;
  border-top: 1px solid white;
  padding-top: 30px;
  position: relative;
  bottom: 0;
}


  