@import '../../helpers/tokens';

.navbar {
	
	display: flex;
	align-items: center;

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			img {
				margin-right: 2rem;
				transition: filter 0.3s;
				&:hover {
					filter: brightness(0) saturate(100%) invert(66%) sepia(4%) saturate(4714%) hue-rotate(101deg) brightness(111%)
						contrast(101%);
				}
			}
		}
	}
	h1 {
		font-size: 32px;
		margin-right: auto;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: $green;
		}
	}

	

	a:last-of-type {
		margin-right: 3rem;
	}

	.btns {
		margin-right: 1rem;
		.active {
			border: 0;
			margin: 1rem;
			background-color: $green;
			padding: 4px;
			color: $black;
			margin-right: 0rem;
			cursor: pointer;
			transition: color 0.3s;
		}
		.disable {
			border: 0;
			background: none;
			margin: 1rem;
			padding: 4px;
			color: $white;
			margin-right: 0rem;
			cursor: pointer;
			transition: color 0.4s;
			&:hover {
				color: $green;
			}
		}
	}
	
}

@media all and (max-width: 600px) {
	 
	.navbar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		h1 {
			margin: 0;
			display: flex;
			height: 50px;
			justify-content: center;
			
		}
		a {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			img{
				margin: 5px 10px;
				padding: 0;
			}
		}
		a:last-of-type {
			margin-right: 50px;
		}
		.social {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			width: 100%;
		}
		
		
		.btns {
			display: flex;
			height: 40px;
			align-items: center;
			justify-content: center;
			margin: 0;
		}
	}
}
